body {
    background-color: tan;

}

h1 {
    color: maroon;
    text-align: center;
    font-weight: bold;
}

h2 {
    color:steelblue;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}

h3{
    color: black;
    text-align: left;
    font-weight: bold;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

.common {
    background-color: beige;
    border: 2px solid beige;
    position: absolute;

}


.header {
    top: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    text-align: center;
}





